body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
.button {
  background: coral;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.button:hover {
  background: #333;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: openmodal;
  animation-duration: 0.5s;
}
.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  cursor: pointer;
}
.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
}
@keyframes openmodal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
