/* Align icon to left */

#what .items .item {
    display: flex;
    text-align: center;
}

/* Position icon */

#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/*  */

#contact .map {
    flex: 2;
}