.px-5 {
    padding: 0 0 0 5%;
}
.py-2 {
    padding: 2rem 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
@media (max-width: 370px) {
    .px-5 {
        padding: 0 0 0 1%;
    }
}