.container .row .flag {
    width: 100%;
    height: 400px;
}

#level {
    padding-top: 2rem;
    text-align: center;
}
.flag-name {
    text-transform: capitalize;
}
.flag-block {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}