* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #f3f3f3;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list {
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 25px;
}
main .list .item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
main .list .item:last-of-type {
  border-bottom: none;
}
main .list .item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page-numbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #44aaee;

  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.page-numbers button:hover {
  background-color: #44eeaa;
}
.page-numbers button.active {
  background-color: #44eeaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
